.dropdown-menu.dropdown-menu-right > li > a {
    text-align: left;
}

#post-new {
    background: #9e9e9e;
    color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#post-new .pn-header {
    font-family: 'shadowsintolight', cursive;
    position: relative;
    padding: 25px;
}

#post-new .pn-header > h2 {
    margin: 0;
    color: #fff;
    line-height: 100%;
}

#post-new .pn-header > small {
    font-size: 17px;
    display: block;
    margin-top: 3px;
}

#post-new .pn-header .actions {
    position: absolute;
    right: 10px;
    padding: 0;
    list-style: none;
    top: 15px;
}

#post-new .pn-header .actions > li {
    display: inline-block;
    vertical-align: baseline;
}

#post-new .pn-body {
    min-height: 30px;
    position: relative;
    padding: 20px 10px 20px 25px;
    background: rgba(0, 0, 0, 0.03);
}
#post-new .pn-body-normal {
    min-height: 300px;
}

#post-new .pn-body #add-pn-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: -25px;
    right: 23px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
#post-new .pn-body {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
#post-new .pn-body #add-pn-item .add-new-item {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    opacity: 1;
    filter: alpha(opacity=100);
}

#post-new .pn-body #add-pn-item .add-pn-body {
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

#post-new .pn-body #add-pn-item .add-pn-body textarea {
    padding: 25px 25px 45px;
    resize: none;
    width: 100%;
    font-size: 24px;
    color: #9e9e9e;
    position: absolute;
    height: 100%;
    border: 0;
    outline: none;
}

#post-new .pn-body #add-pn-item:not(.toggled) {
    overflow: hidden;
}

#post-new .pn-body #add-pn-item:not(.toggled) .add-new-item {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-align: center;
    font-size: 23px;
    color: #9e9e9e;
    line-height: 50px;
}

#post-new .pn-body #add-pn-item:not(.toggled):hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
}

#post-new .pn-body #add-pn-item.toggled {
    width: calc(100% - 47px);
    height: calc(100% - 25px);
    border-radius: 2px;
    top: 0;
    z-index: 1;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow: visible;
}

#post-new .pn-body #add-pn-item.toggled .add-new-item {
    display: none;
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body {
    opacity: 1;
    filter: alpha(opacity=100);
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body .add-pn-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid #EEE;
    z-index: 1;
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body .add-pn-actions > a {
    font-size: 25px;
    padding: 0 6px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 41px;
    position: relative;
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body .add-pn-actions > a:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #eeeeee;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body .add-pn-actions > a:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body .add-pn-actions .pn-action-dismiss {
    color: #f44336;
}

#post-new .pn-body #add-pn-item.toggled .add-pn-body .add-pn-actions .pn-action-save {
    color: #4caf50;
}

#post-new .pn-body .media-body {
    padding-top: 3px;
}

#post-new .pn-body .checkbox {
    font-size: 18px;
    margin-bottom: 15px;
}

#post-new .pn-body .checkbox span {
    display: inline-block;
    margin-top: -3px;
}

#post-new .pn-body .checkbox input:checked + i + span {
    text-decoration: line-through;
}

#post-new .pn-body .checkbox .input-helper:before {
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 2px;
}

#post-new .pn-body .checkbox .input-helper:after {
    border-color: #fff;
}

input.ng-invalid {
    border-color: rgb(197, 191, 191);
}

input.ng-valid {
    border-color: green;
}
.validationError{
    background-color: red;
}


/*mine*/
.body{
    height: 100% !important;
}
.login-content{
    height:100%;
}
.login-content .top-part{
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;
}
.login-content .bottom-part {
    background-color: #EEEEEE;
    min-height: 50%;
    padding: 10px;
}
.login-content .top-part video{
    margin:0 auto;
    display:block
}
.login-content .bottom-part .forms-container {
    max-width: 400px;
    width: 100%;
    position: relative;
    min-height: 60px;
    margin: auto;
    transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    -ms-transform:  translateX(-100%) translateY(-50%);/*IE9*/
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    padding: 35px 55px 35px;
    display: block;
    vertical-align: middle;
}
.btn-login {
    font-size: 0px !important;
    border-radius: 100%;
    display: inline-block !important;
    margin: 0 2px !important;
    -webkit-transition: all !important;
    -o-transition: all !important;
    transition: all !important;
    -webkit-transition-duration: 150ms !important;
    transition-duration: 150ms !important;
    vertical-align: top;
    line-height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}
.btn-login:hover {
    border-radius: 10px !important;
    padding: 0 5px !important;
    font-size: 12px !important;
    color:#fff;
    font-weight: 500;
}
.btn-color-red{
    background-color: #F44336 !important;
}
.btn-color-orange{
    background-color: #FF9800 !important;
}
.btn-color-green{
    background-color: #4CAF50 !important;
}
.form-top {
    top: 110%;
    position: absolute;
    transform: translateX(-40%) translateY(-10%);
    -webkit-transform: translateX(-40%) translateY(-10%);
}
.btn-blue{
    background-color: #4DB6AC !important;
    font-weight: bold !important;
}
/*children-create*/
.form-part{
    background-color: #EEEEEE;
}
.form-inner {
    max-width: 400px;
    width: 100%;
    position: relative;
    min-height: 60px;
    margin: auto;
    transform: translateX(0%) translateY(25%);
    -webkit-transform: translateX(0%) translateY(5%);
    -ms-transform:  translateX(-115%) translateY(5%);/*IE9*/
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    padding: 35px 55px 35px;
    display: block;
    vertical-align: middle;
}
.input-picker{
    width: 100%;
    height: 36px;
    padding: 5px;
}
.picker-icon{
    top: -35px;
    left: 250px;
}
.social-theme{
    background-color: #f9f2f4;
}

.market-theme{
    background-color: #fffcbe;
}
/* animations */
/*.forgot-form.ng-hide-remove,
.login-form.ng-hide-remove,
.register-form.ng-hide-remove {
    animation: fadeInLeft 5s;
}
.forgot-form.ng-hide-add,
.login-form.ng-hide-add,
.register-form.ng-hide-add {
    animation: fadeOutLeft 5s;
}*/
