<div class="social-section">
    <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <form ng-submit="uploadFile()" class="form-horizontal" enctype="multipart/form-data">
                <input type="file" name="file" ng-model="document.fileInput" id="file" ng-change="setTitle(this)" />
                <input type="text" class="col-sm-4" ng-model="document.title" id="title" />
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </form>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>